body {     
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;  
    border: solid; 
    height: 100vh;

}

.main {
    
    background-color: white;
    width: 350px;
    border-radius: 20px;    
    margin: 10% auto 10% auto;
    
    
  
}

h3 {   
    padding-top: 30%;
    margin: 0;
    text-align: center;
 }

 h4 {
     margin-top: 5px;
     margin-bottom: 5px;
     font-weight:bold;          
 }

 h5 {
    color: rgb(138, 126, 138);
    font-weight: lighter;
    font-size: x-small;
    margin-top: 0;
     opacity: 6;
    letter-spacing: 2px;
 }


.age{
font-weight:100;
font-style: normal;
color: rgb(138, 126, 138);
opacity: 6;
padding-left: 5%;
}

.top {  
    overflow: hidden;
}

.topimg {  
    border-radius: 20px 20px 0 0 ;
    
}

.middle {
    width: 350px;
    margin: auto; 
    overflow:hiden;
    
     
}

.bottom {  
    border-top: 1px solid #d8d9df;
    border-top-color: rgb(160, 151, 160);;   
    background-color:white;
    width: 350px;
    border-radius: 0 0 20px 20px;
    position: sticky;
}

.stat {
    color:hsl(229, 23%, 23%);
    display:inline-block;
    font-size: 18px;
    margin: auto;
    padding: 7%;    
}

.city {
    color: rgb(138, 126, 138);
    font-size: small;
    font-weight:bold;
    opacity: 6;
    padding: 5px 0 20px;
    letter-spacing: 2px;
}

.name{
    color:hsl(229, 23%, 23%);
    font-size: 18px;
}

.victorPic{
    background-color: white;
    padding:5px;
    bottom: 50px;
    position:absolute;
    right: 45%;
    left: 46%;
    top:35%;
    border-radius: 50%;
}

.backimg{
    
    position: absolute;
    overflow:hiden;
}
.topsvg{
    height: 135vh;
    width:1000px;   
    padding-right: 200px;
    float: left;
    position:absolute;
    left: -350px;
    bottom: -420px;
    
}

.bottomsvg{
    padding-left: 700px;
    padding-top:300px;
    height: 120vh;
    width:900px;
    float: right;
    position: absolute;
    
    
}