body {  
    background-color:#19A2AE;
    text-align: center;
    
}

h3 {
    border: solid;
    padding-bottom: 0 0 25px;
    margin: 0;
    text-align: center;
 }

.age{
font-weight:100;
font-style: normal;
}

.top {
    border-radius: 15px 15px 0 0;
    padding-top: 150px;
    border:solid;
    margin: 100px 450px 0px;
    background-color:;  
    text-align: center; 
    width: 30%;
}

.bottom {
    border-radius: 0 0 15px 15px;
    padding-top: 100px;
    border:solid;   
    margin:0 450px 0 450px;
    background-color:white;
    width: 30%;
}

table{    
    position: relative;
    margin-top: 25px;  
    width: 100%;
}

tr{
    border: solid;
}

.count{
    font-weight: bold;
    font-size: larger;
}

.countdesc{
    font-weight: lighter;
    font-size: small;
    color: #969696;
}

img {
position: absolute;
border:solid;
border-radius: 50%;
float:left;
width: 10%;
}

